<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.test.jwj.underMoon">

    <application
        android:name=".UnderMoonApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.GoMeetingActivity"/>
        <activity android:name=".activity.InvitationDetailActivity"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar">
        </activity>
        <activity android:name=".activity.PersonalInfoActivity"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar">
        </activity>
        <activity android:name=".activity.SearchResultsActivity"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar">
        </activity>
        <activity android:name=".activity.SearchActivity"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar">
        </activity>
        <activity android:name=".activity.FriendDetailActivity"
                  android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar">
        </activity>
        <activity android:name=".activity.AlbumActivity"
                  android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar">
        </activity>
        <activity android:name=".activity.WomenPhotoActivity"
                  android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar">
        </activity>
        <activity android:name=".activity.GalleryActivity"
                  android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar">
        </activity>
        <activity android:name=".activity.ImageFile"
                  android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar">
        </activity>
        <activity android:name=".activity.ShowAllPhoto"
                  android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar">
        </activity>
    </application>

</manifest>