<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.test.jwj.underMoon">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <application
        android:name=".global.UnderMoonApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        >
        <activity android:name=".activity.MainActivity"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar">

        </activity>
        <activity android:name=".activity.GoMeetingActivity"/>
        <activity android:name=".activity.InvitationDetailActivity"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar">
        </activity>
        <activity android:name=".activity.PersonalInfoActivity"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar">
        </activity>
        <activity android:name=".activity.SearchResultsActivity"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar">
        </activity>
        <activity android:name=".activity.SearchActivity"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar">
        </activity>
        <activity android:name=".activity.FriendDetailActivity"
                  android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar">
        </activity>
        <activity android:name=".activity.AlbumActivity"
                  android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar">
        </activity>
        <activity android:name=".activity.WomenPhotoActivity"
                  android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar"
                  android:launchMode="singleTask">
        </activity>
        <activity android:name=".activity.GalleryActivity"
                  android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar">
        </activity>
        <activity android:name=".activity.ImageFile"
                  android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar">
        </activity>
        <activity android:name=".activity.ShowAllPhoto"
                  android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar">
        </activity>
        <activity android:name=".activity.FriendSearchResultActivity"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar">
        </activity>
        <activity android:name=".activity.LoginActivity"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar">
        </activity>
        <activity android:name=".activity.WelcomeActivity"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".regist.RegisterActivity"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar">
        </activity>
        <activity android:name=".imageFactory.ImageFactoryActivity"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar">
        </activity>
        <activity android:name=".activity.SearchFriendActivity"
                  android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar">
        </activity>
        <activity android:name=".activity.ChatActivity"
                  android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar">
        </activity>
        <activity android:name=".activity.EnlistInfoActivity"
                  android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar">
        </activity>
        <service android:name=".services.GlobalService">

        </service>
    </application>

</manifest>